body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 210, 210);
  margin: 0;
}



h2 {
  font-size: 20px;
  color: white;
  text-align: 15px;
  margin: 8px;
}

h3 {
  font-size: 25px;
}

h4 {
  border-color: black;
  justify-content: unset;
}

/* Estilo del contenedor principal del juego */
#game-board {
  overflow: hidden;
  width: 800px;
  height: 500px;
  background-color: white;
  position: relative;
}

#lifes {
  background-position: inherit;
}

#lifes-container {
  margin: 15px;
}

/*FONDO PANTALLA PARA SELECCIONAR JUGADOR*/
#game-board-player {
  width: 800px;
  height: 500px;
  background-image: url("./../assets/logo6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#intro-game {
  width: 800px;
  height: 500px;
  background-image: url("./../assets/imagen-inicio1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro-game-btn {
  background-image: url("./../assets/boton-start.jpg");
  padding: 40px 30px;
  margin: 30px;
  justify-content: center;
  border-radius: 15px;
  border: lab(from color white black red);
  color: red;
  text-shadow: white;
  font-size: 30px;
  font-style: oblique;
  font-weight: medium;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  align-items: center;
}

#intro-game-player1-btn {
  background: url("./../assets/jose2.jpg");
  opacity: 0, 5;
  padding: 20px 30px;
  margin: 40px;
  margin-top: 40px;
  justify-content: center;
  border-radius: 15px;
  border: lab(from color white black red);
  color: black;
  border-color: red;
  font-size: 40px;
  font-weight: medium;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  align-items: center;
}

#intro-game-player2-btn {
  background-image: url("./../assets/Jorge2.jfif");
  padding: 20px 30px;
  margin: 40px;
  margin-top: 40px;
  justify-content: center;
  border-radius: 15px;
  border: lab(from color white black red);
  color: black;
  border-color: red;
  text-shadow: black;
  font-size: 40px;
  font-weight: medium;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  align-items: center;
}

#select-player {

  display: flex;
  justify-content: space-between;
}

.hidden-div {
  display: none !important;
}

#controls-players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#player1 {
  margin-left: 20px;

}

#player2 {
  margin-right: 20px;

}

#img-jose {
  margin-top: 16px;
  margin-left: 140px;
  position: absolute;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

#img-jorge {
  margin-top: 16px;
  margin-right: 17git 0px;
  position: absolute;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

#end-game {
  width: 800px;
  height: 500px;
  background-image: url("./../assets/gameover1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#win-game {
  width: 800px;
  height: 500px;
  background-image: url("./../assets/imagen-inicio3.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart-btn {
  background-image: url("./../assets/boton-start.jpg");
  padding: 40px 30px;
  margin-top: 300px;
  justify-content: center;
  border-radius: 15px;
  border: lab(from color white black red);
  color: red;
  text-shadow: white;
  font-size: 30px;
  font-style: oblique;
  font-weight: medium;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  align-items: center;
}

#game-score2 {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  font-size: 30px;
  color: white;
}

#game-score1 {
  display: flex;
  justify-content: left;
  align-items: end;
  font-size: 30px;
  color: white;
}